<a href="https://colab.research.google.com/github/Assumps/Machine-Learning/blob/main/Introdu%C3%A7%C3%A3o_Machine_learning_Projeto2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd

Uri = "https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv"
dados = pd.read_csv(Uri)
dados.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [10]:
Maps = {
    "home" : "Principal",
    "how_it_works" : "Como_Funciona",
    "contact" : "Contato",
    "bought" : "Comprou"
}
dados = dados.rename(columns = Maps)

In [11]:
x = dados[["Principal", "Como_Funciona", "Contato"]]
x.head()
#y = dados["bought"] apenas uma coluna nao é necessario inserir outro couchete

   Principal  Como_Funciona  Contato
0          1              1        0
1          1              1        0
2          1              1        0
3          1              1        0
4          1              1        0

In [12]:
y = dados["Comprou"]
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Comprou, dtype: int64

In [14]:
dados.shape

(99, 4)

In [21]:
train_x = x[:75]
train_y = y[:75]
teste_x = x[75:]
teste_y = y[75:]

print("treinaremos com %d elementos e testaremos com %d elementos" % (len(train_x), (len(teste_x) )))

treinaremos com 75 elementos e testaremos com 24 elementos

In [28]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

model = LinearSVC()
model.fit(train_x, train_y)
previsoes = model.predict(teste_x)

accuracy = accuracy_score(teste_y,previsoes) * 100
print("A acuracia foi de %.2f%%" % accuracy)

A acuracia foi de 95.83%